<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
<!-- #############################Mybatis配置并注册容器#################################################################################### -->
	<!-- 引入数据库外部文件 -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 配置数据源 -->
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource" >
		<!-- 连接数据库驱动 -->
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- SqlSessionFactory -->
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 加载mybatis的全局配置文件 -->
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" ></property>
	</bean>
	
	<!-- mapper扫描器，直接注册到spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
		<!-- 扫描的路径，如果需要扫描多个包，中间使用,隔开 -->
		<property name="basePackage" value="cn.itcast.xbaba.mapper" ></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" ></property>
	</bean>
<!-- #############################扫描注解注册容器#################################################################################### -->
	<!-- 注解扫描包 -->
	<context:component-scan base-package="cn.itcast.xbaba.service,cn.itcast.xbaba.web"></context:component-scan>
<!-- #############################事务处理#################################################################################### -->
	
	<!-- 事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="txManager" />
<!-- ################################################################################################################# -->
	
</beans>